/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /*fonts*/
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P-Regular";
  --main-font-content: 400;
  --main-font-title: 700;

  /*colors*/
  --background-color: #ffffff;
  --accent-color: #000000;
  --accent-color-transparent: rgb(0 0 0/ 0.6);
  --mix-color: #ffffff;

  /*heart-colors*/
  --sparks-color: red;
  --heart-act-clr: red;

  /*gradient-colors*/
  --line-gradient-1: rgb(211 211 211);
  --line-gradient-2: rgb(211 211 211/ 0);
  --bottom-gradient-1: #e7e7e7;
  --bottom-gradient-2: #1a1a1a;

  /*gradient-linear*/
  --gradient-left-to-right: repeating-linear-gradient(
    to right,
    var(--line-gradient-1) 0px,
    var(--line-gradient-1) 2px,
    var(--line-gradient-2) 2px,
    var(--line-gradient-2) 4px
  );

  --gradient-top-to-bottom: repeating-linear-gradient(
    to bottom,
    var(--line-gradient-1) 0px,
    var(--line-gradient-1) 2px,
    var(--line-gradient-2) 2px,
    var(--line-gradient-2) 4px
  );

  --gradient-background: linear-gradient(
    to bottom,
    var(--bottom-gradient-1) 0.01%,
    var(--bottom-gradient-2) ;
  );

  /*transform*/
  --transform-time: 0.3s ease;
}
